<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="{{ url_for('main.index') }}" class="navbar-brand">FHAA</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {% if g.user_type == 'patient' %}      
                <!-- 환자일 경우에는 의뢰하기, 응답한 병원 목록만 네비바에 표시 -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('request.user_req') }}">의뢰하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('request.hospital_list') }}">응답한 병원 목록</a>
                </li>
                {% else %}
                <!-- 병원일 경우 들어온 의뢰페이자만 네비바에 표시 -->
                <li>
                    <a class="nav-link" href="{{url_for('request.board')}}">들어온 의뢰</a> 
                </li>
                {% endif %}
            
            </ul>
            <ul class="navbar-nav ms-md-auto">
                {% if g.user %}
                <li class="nav-item dropdown">
                    {% if g.user_type == "patient" %}
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="user">{{ g.user.pat_name }} 님</a>
                    {% else %}
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="user">{{ g.user.hos_name }} 님</a>
                    {% endif %} 
                    <div class="dropdown-menu" aria-labelledby="user">
                        <a class="dropdown-item" href="{{ url_for('login.logout')}}">로그아웃</a>
                        <a class="dropdown-item" href="{{ url_for('change.change') }}">개인정보수정</a>
                        <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../5/pulse/bootstrap.min.css" download="">bootstrap.min.css</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../5/pulse/_variables.scss" download="">_variables.scss</a> -->
                    </div>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a rel="noopener" class="nav-link" href="{{ url_for('auth.signup') }}"> Signup</a>
                    </li>
                    <li class="nav-item">
                        <a rel="noopener" class="nav-link" href="{{ url_for('login.login') }}">Login</a>
                    </li>
                {% endif %} 
            </ul>
        </div>
    </div>
</div>