{% extends "base.html" %}
{% block content %}
<!-- Authors: jlee (junlee9834@gmail.com) -->
<div class="container w-50" style="margin-top: 7rem;">
    <h5 class="my-3 border-bottom pb-2">회원가입 <span class="badge rounded-pill bg-secondary">병원</span></h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}

        <div class="mb-3">
            <label for="crn">ID (사업자등록번호)</label>
            <input type="text" class="form-control" name="crn" id="crn" value="{{ form.crn.data or '' }}" />
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                value="{{ form.password1.data or '' }}" />
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                value="{{ form.password2.data or '' }}" />
        </div>
        <div class="mb-3">
            <label for="name">병원명</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ form.name.data or '' }}" />
        </div>
        <div class="mb-3">
            <label for="address1">병원 주소</label>
            <div class="d-flex ">
                <input type="text" class="form-control" name="address1" id="address1" value="{{ form.address1.data or '' }}"readonly/>
                <input type="button" class="btn btn-primary" onclick="execDaumPostcode()" value="주소 검색"><br>
            </div>
            <input type="text" class="form-control" name="address2" id="address2" value="{{ form.address2.data or '' }}" placeholder="상세 주소" />
        </div>
        <div class="mb-3">
            <label for="tel">전화번호</label>
            <input type="text" class="form-control" name="tel" id="tel" value="{{ form.tel.data or '' }}" />
        </div>
        <!-- <div class="mb-3">
            <label for="type">의료종목</label>
            <select class="form-control" name="type" id="type"></select>
        </div> -->
        <div class="mb-3">
            <label class="mb-2" for="type">의료종목</label>
            <table  class="table">
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">내과</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">비뇨의학과</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">산부인과</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">소아과</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">안과</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">이비인후과</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">정형외과</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">치과</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">피부과</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">기타</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-5  mb-3">
            <button button type="submit" class="btn btn-primary">회원가입</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='address.js') }}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{% endblock %}