{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 7rem;">
    <!-- 질문 목록 -->
    <div class="container my-3">
        <table class="table">

            <h2 class="ml-auto">매칭상태</h2>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                매칭된 정보들의 목록입니다.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            <thead>
            <tr class="table-secondary">
                <th>순번</th>
                <th>환자 email</th>
                <th>진료과목</th>
                <th>병원명</th>
                <th>병원주소</th>
                <th>진료 희망시간</th>
            </tr>
            </thead>
            <tbody>
            {% if matching_list %}
            {% for request in matching_list.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ request.pat_ema }}</td>
                    <td>{{ request.req.req_type }}</td>
                    <td>{{ request.hospital.hos_name }}</td>
                    {% if request.hospital.hos_addr2 %}
                        <td> {{ ", ".join((request.hospital.hos_addr1,request.hospital.hos_addr2)) }}</td>
                    {% else %}
                        <td> {{ request.hospital.hos_addr1 }}</td>
                    {% endif %}
                    {% set args = { 'req_date': request.req.req_date, 'req_time': request.req.req_time } %}
                    <td>{{ args | add_datetime }}</td>
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
