{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 7rem;">
    <!-- 질문 목록 -->
    <div class="container my-3">
        <table class="table">
            <h2 class="ml-auto">요청목록</h2>
            <div class="alert alert-primary" role="alert">
                진료를 요청한 환자들의 목록입니다.
            </div>

            <thead>
            <tr class="table-secondary">
                <th>순번</th>
                <th>환자 email</th>
                <th>진료과목</th>
                <th>환자 현재 위치</th>
                <th>만료기한</th>
                <th>선택</th>

            </tr>
            </thead>
            <tbody>
            {% if request_list %}
            {% for request in request_list.items %}
            <tr id="{{ request.req_id }}">
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('request.detail', request_id=request.req_id) }}">{{ request.pat_ema }}</a>
                </td>
                <td>{{ request.req_type }}</td>
                <td>{{ request.req_loc }}</td>
                <td>{{ request.req_date  }}</td>
                <td>
                    <div class="d-flex">
                        <form action="{{ url_for('request.board') }}" method="POST">
                            <input type="text" class="form-control" name="req_id" id="req_id" value="{{request.req_id}}" hidden>
                            <input type="text" class="form-control" name="check" id="accept" value="accept" hidden>
                            <button type="submit" class="btn btn-outline-success">◯</button>
                        </form>
                        <form action="{{ url_for('request.board') }}" method="POST">
                            <input type="text" class="form-control" name="req_id" id="req_id" value="{{request.req_id}}" hidden>
                            <input type="text" class="form-control" name="check" id="delete" value="delete" hidden>
                            <button type="submit" class="btn btn-outline-danger">⨉</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- {% if request_list %}
        <ul>
        {% for request in request_list.items %}
            <li><a href="{{ url_for('request.detail', request_id=request.req_id) }}">{{ request.req_type }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %} -->
</div>
{% endblock %}
