{% extends 'base.html'%}

{% block content %}
<div class="container w-50 mb-3" style="margin-top: 8rem">
  <div class="w-100 col-md-7 col-md-offset-2">

    <div class="page-hearder" style="padding-bottom: 20px">
      <h3>진료요청</h3>
    </div>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      인근의 병원에 진료를 요청합니다.
      위치 액세스 허용이 필요합니다.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- flash 오류 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    
    <form action="{{ url_for('request.req_post') }}" method="POST">
      <div class="mb-3">의뢰인 : {{ g.user.pat_name }}</div>
      <div class="mb-3">
        <div class="d-flex">
          <input
            type="text"
            class="form-control"
            name="location"
            id="location"
            onchange="setLocation();"
            readonly
          />
          <!--위도-->
          <input
            type="text"
            class="form-control"
            name="location_lat"
            id="location_lat"
            hidden
          />
          <!--경도-->
          <input
            type="text"
            class="form-control"
            name="location_lon"
            id="location_lon"
            hidden
          />
          <input
            type="button"
            class="btn btn-primary"
            onclick="getDaumPostcode();"
            value="주소 검색"
          />
        </div>

        <!-- Map -->
        <div class="w-100" id="map" style="height: 400px"></div>
      </div>

      <div class="mb-3">
        희망시간
        <select class="form-select" name="req_time">
          <option value="" selected>-- 선택 --</option>
          <option value="10">10분내외</option>
          <option value="30">30분내외</option>
          <option value="60">60분내외</option>
        </select>
      </div>

      <div class="mb-3">
        진료과목
        <select class="form-select" name="req_type">
          <option value="" selected>-- 선택 --</option>
          {% for sub_item in sub %}
          <option value="{{sub_item.ill_type}}">{{sub_item.ill_type}}</option>
          {% endfor %}
        </select>
      </div>

      요청사항
      <div class="mb-3">
        <textarea
          name="req_req"
          class="form-control"
          rows="3"
          placeholder="요청사항을 입력해주세요."
        ></textarea>
      </div>

      <tr class="d-flex flex-column">
        <td class="text-center" colspan="2">
          <input
            class="btn btn-primary w-25"
            type="submit"
            onclick="finish()"
            value="의뢰등록"
          />

          <input
            class="btn btn-primary w-25"
            margin-left:
            10px;
            type="reset"
            value="다시작성"
          />
        </td>
      </tr>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function finish() {
    alert("병원에 진료 요청이 완료되었습니다.");
  }
</script>
<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a402faa3e887603d2d2e512be8b710d1&libraries=services"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='map.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='address.js') }}"
></script>
<script
  type="text/javascript"
  src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"
></script>
{% endblock %}
