{% extends 'base.html' %}
{% block content %}
<br><br><br><br><br><br>
<strong>진료의뢰 요청</strong>
<form action ="/write" method = "POST">
    의뢰인 : {{pat_ema }}
    <br>
    위치 : {{addr}}
    <br>
    <label>희망 시간</label>
    <div>
        <input name = "req_time" type="radio" value="10" /> 10분 내외
        <input name = "req_time" type="radio" value="30" /> 30분 내외
        <input name = "req_time" type="radio" value="60" /> 60분 내외
    </div> <br>
    <div > <br>
        <div>
            <label>진료 과목</label>
        </div>
        
        <select name = "req_type">진료과목
            <option>내과</option>
            <option>피부과</option>
            <option>산부인과</option>
            <option>가정의학과</option>
            <option>이비인후과</option>
            <option>비뇨기과</option>
            <option>소아청소년과</option>
            <option>정형외과</option>
            <option>치과</option>
            <option>안과</option>
            <option>신경과</option>
        </select>
    
    </div> <br>
    <div>
        요청사항(선택)
    </div>       
<input name = "req_req" type="text" placeholder="요청사항을 입력해주세요."> 
<input type ="submit" value ="의뢰등록"><input type ="reset" value="다시작성">
</form>
{%endblock%}